# {{ ansible_managed }}

{% for section_name, section in uwsgi_config.items() %}
[{{ section_name }}]

{% for k,v in section.items() %}
{% if v is iterable and v is not string %}
{% for list_entry in v %}
{{ k }} = {{ list_entry }}
{% endfor %}
{% elif v is sameas true %}
{{ k }} = true
{% elif v is sameas false %}
{{ k }} = false
{% elif v is number %}
{{ k }} = {{ v }}
{% else %}
{{ k }} = {{ v }}
{% endif %}
{% endfor %}
{% endfor %}
